// Functions first
@import "../../node_modules/bootstrap/scss/functions";

// Variable overrides second
// $primary: #900;
$top-info-background : #21235B;
$enable-shadows: true;
// $prefix: "mo-";
// @import "../../node_modules/bootstrap/scss/bootstrap";
// Required Bootstrap imports
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/transitions";

$fa-font-path: '../asset/webfonts';

@import './asset/fontawesome/fontawesome.scss';
@import './asset/fontawesome/solid.scss';
@import './asset/fontawesome/brands.scss';
@import './asset/fontawesome/regular.scss';

$body-border-color : $gray-300;



body {
    margin: 0!important;
}
.main-container {
    display: flex;
}

#sidebar {
    min-height: 100vh;

    &.collapse {
        // display: block!important;
    }

    .profile {
        width: 100%;
        padding: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        img {
            height: 2em;
            width: 2em;
        }
        
    }
    
    &.collapsing {
        overflow: hidden;
    }
}


@media (max-width: 768px) {
    #sidebar {
        
    //   margin-left: -250px;
    }

    #menu-toggle {
        display: block!important;
    }
}

.info-container {
    display: flex;
    width: 100%;
    height: 10rem;
    background-color: #900;
    background-color: $top-info-background;

    img {
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }
}

.right-container {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: $body-border-color;
    background-color: $body-secondary-bg;
    // height: 1100vh;
    width: 100%;
}

.content{
    display: flexbox;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

.search-btn {
    ul {
        width: 10rem;

        .nav-item {
            width: 2rem;
        }
    }
    
}

.categories {
    
}

.categorie{
    width: 200px;
}