
@font-face {
    font-family: "Aptos";
    src:
        local("Aptos"),
        url("../font/aptos/aptos.ttf") format('truetype');
}

@font-face {
    font-family: "Marianne";
    src:
        local("Marianne"),
        url("./font/Marianne-Bold.woff") format("woff");
        font-weight: bold;
}
