
@font-face {
    font-family: "Aptos";
    src:
        local("Aptos"),
        url("../font/aptos/aptos.ttf") format('truetype');
}

@font-face {
    font-family: "Marianne";
    src:
        local("Marianne"),
        url("../font/Marianne/Marianne-Regular.woff") format("woff");
}

@font-face {
    font-family: "Marianne";
    src:
        local("Marianne"),
        url("../font/Marianne/Marianne-Bold.woff") format("woff");
        font-weight: bold;
}

@font-face {
    font-family: "Marianne";
    src:
        local("Marianne"),
        url("../font/Marianne/Marianne-Regular_Italic.woff") format("woff");
        font-style: italic;
}

@font-face {
    font-family: "MadimiOne";
    src:
        local("MadimiOne"),
        url("../../public/font/Madimi_One/MadimiOne-Regular.ttf") format("truetype");
}

body {
    font-family: 'Marianne';
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

.game-background {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url('../asset/background/illustration_start_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    filter: blur(5px);
    z-index: -1;
}

.game-holder {
    position: relative;
    margin: 10%;  
    margin-top: 15em;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.games {
    background-color: rgb(210 157 204 / 80%);
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    margin : 15px;

    .title {
        text-align: center;
        font-family: 'MadimiOne';
        text-transform: uppercase;
        font-size: 1.5em;
    }
    .description {
        text-align: justify;
    }
    hr {
        border-color: wh;
        background-color: wh;
        color: wh;
    }
    .auteur {
        font-style: italic;
        
    }
}