
body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.search-container {
    background-color:  #2a2a2a;
    border: 2px solid #444;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-container h1 {
    color: var(--green-text-color);
    font-size: 24px;
    margin-bottom: 20px;
}
.search-container input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #444;
    border-radius: 5px;
    font-size: 16px;
}
.filters {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filter {
    flex: 1;
    margin: 5px;
}
.filter label {
    font-size: 14px;
    display: inline-flex;
    
    input {
        margin-right: 5px;
    }
}
.selectize-input {
    background-color: #6b9f97;
    border: none;
}
.results {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background-color: #2a2a2a;
    border: 2px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
}

.selectize-control {
    width: 80%;
    margin: auto;
}

/* .item {
    background: linear-gradient(to bottom, #1deeac, #17e992)!important;
    border: 1px solid #00bb80!important;
} */

@media (max-width: 600px) {
    .search-container input[type="text"], .filters {
        width: 100%;
    }
    .filter {
        width: 100%;
    }

    .selectize-control { 
        width: 100%;
    }

    body {
        touch-action: pan-y;
    }

}

.data-box {
    margin: auto;
    margin-bottom: 20px;
}


#results {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.type {
    /* display: none; */
}