@font-face {
    font-family: 'Dungeon Drop Case';
    src: url('/Queen/public/fonts/Dungeon Drop Case/Dungeon Drop Case.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Mr Eaves Small Caps';
    src: url('/Queen/public/fonts/Mr Eaves/Mr Eaves Small Caps.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Bookinsanity';
    src: url('/Queen/public/fonts/Bookinsanity/Bookinsanity.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Bookinsanity';
    src: url('/Queen/public/fonts/Bookinsanity/Bookinsanity Italic.otf');
    font-style:italic;
}
@font-face {
    font-family: 'Bookinsanity';
    src: url('/Queen/public/fonts/Bookinsanity/Bookinsanity Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Bookinsanity';
    src: url('/Queen/public/fonts/Bookinsanity/Bookinsanity Bold Italic.otf');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Nodesto Caps Condensed';
    src: url('/Queen/public/fonts/Nodesto Caps Condensed/Nodesto Caps Condensed.otf');
    font-style: normal;
}
@font-face {
    font-family: 'Nodesto Caps Condensed';
    src: url('/Queen/public/fonts/Nodesto Caps Condensed/NodestoCapsCondensed-Italic.otf');
    font-style:italic;
}
@font-face {
    font-family: 'Nodesto Caps Condensed';
    src: url('/Queen/public/fonts/Nodesto Caps Condensed/NodestoCapsCondensed-Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Nodesto Caps Condensed';
    src: url('/Queen/public/fonts/Nodesto Caps Condensed/NodestoCapsCondensed-Bold Italic.otf');
    font-style: italic;
    font-weight: 700;
}

body {
    font-family: 'Bookinsanity', Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
}
.data-box {
    background-color: #2a2a2a;
    border: 2px solid #444;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 0 10px #000;
    height: fit-content;
}


.data-box > div {            
    padding-left: 20px;
    padding-right: 20px;
}

.data-box .data-header {
    padding-bottom: 5px;
}

.data-box h1 {
    font-size: 18px;
    font-family: 'Bookinsanity';
    font-weight: 100;
    margin-bottom: 10px;
}

.data-box.survie .data-header {    
    background: linear-gradient(to bottom, #164C21, #2a2a2a 80%);
}

.data-box.survie h1 {
    color: #00BE3A;
}

.data-box.assassin .data-header {    
    background: linear-gradient(to bottom, #163b4c, #2a2a2a 95%);
}

.data-box.assassin h1 {
    color: #0095be;
}

.data-box.force .data-header {    
    background: linear-gradient(to bottom, #4c4616, #2a2a2a 95%);
}

.data-box.force h1 {
    color: #be9b00;
}

.data-box.social .data-header {    
    background: linear-gradient(to bottom, #32164c, #2a2a2a 95%);
}

.data-box.social h1 {
    color: #9500be;
}

.data-box.autre .data-header {    
    background: linear-gradient(to bottom, #8f8f8f, #2a2a2a 95%);
}

.data-box.autre h1 {
    color: #e4e4e4;
}

.data-box.artisana .data-header {    
    background: linear-gradient(to bottom, #4c2f16, #2a2a2a 95%);
}

.data-box.artisana h1 {
    color: #be7500;
}

.data-box.distance .data-header {    
    background: linear-gradient(to bottom, #4c4616, #2a2a2a 95%);
}

.data-box.distance h1 {
    color: #be9b00;
}

.damage, .weapon-enchantment, .proficiency, .description, .warning, .type {
    margin-bottom: 10px;
}
.damage span, .proficiency span, .description span, .warning span, .type span {
    display: block;
    margin-top: 5px;
}
.damage img, .proficiency img, .type img {
    vertical-align: middle;
    margin-right: 5px;
}
.damage span, .weapon-enchantment span, .proficiency span, .description span, .warning span {
    font-size: 14px;
}
.warning {
    color: #ffa500;
}
.cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cost img {
    vertical-align: middle;
    margin-right: 5px;
}

.weapon-enchantment {
    background-color: #322C27;
    padding-top: 13px;
    padding-bottom: 13px!important;
    border: 1px solid #4A443E;
    border-left: 0;
    border-right: 0;
    span {
        vertical-align: middle;
    }
}

.damage {
    display: flex;
    flex-direction: column;

    .sub-info {
        font-style: italic;
        text-transform: capitalize;
    }
}

.cost {
    background: linear-gradient(to bottom, #231B21, #331F3E 80%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px!important;
    font-size: .9em;
    span {
        margin-left: 5px;
    }
}

.data-header {
    display: flex;
    flex-direction: row;
    padding-right: 0!important;    
    max-height: 100px;
}

.data-info {
    width: 40%;
}
.data-img {
    /* max-height: 100px; */
    width: 60%;
    display: inline-flex;
    justify-content: end;
}

.data-img > img {
    width: 150px;
    object-fit: cover;
}

.description {
    font-style: italic;
    color: #b3b3b3;
}

.proficiency {
    color: bisque;
}
.proficiency-icon {
    margin: 8px;
    border: 2px solid #4A443E;
    background-color: rgba(129, 67, 163, 0.64);
}

.more-info {
    display: none;
}

.diagram {
    display: flex;
}

.diagram.row {
    justify-content: center;
    flex-direction: row;
}  

.diagram.column {
    flex-direction: column;
    justify-content: center;
}

.diagram.spacer {
    margin: 100px;
}

.data-box {
    margin: 50px;
}

.line {
    position: absolute;
}

#jsplumb  {
    overflow: scroll;
    height: 100vh; 
}
#jsplumb.column {
    flex-direction: column;
    width: max-content;
}

.data-box .type {
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: linear-gradient(0.07turn, #09141C, #2a2a2a 30%);

    span {
        margin: 0;
    }
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .data-box {
        width: 30vh;
        font-size: larger;

        h1 {
            font-size: x-large;
        }
    }

    .data-box > div {
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .damage span, .weapon-enchantment span, .proficiency span, .description span, .warning span {
        font-size: large;
    }

    .damage, .weapon-enchantment, .proficiency, .description, .warning, .type {
        margin-bottom: 2vh;
    }
    .damage span, .proficiency span, .description span, .warning span, .type span {
        display: block;
        margin-top: 1vh;
    }

    .data-img > img {
        width: 15vh;
        object-fit: cover;
    }

    .data-header {
        max-height: 10vh;
    }

    .data-img {
        width: 60%;
        display: inline-flex;
        justify-content: end;
    }

    .cost {
        font-size: medium;
    }
  }
  
  /* Modal Content/Box */
  .modal-content {
    /* background-color: #fefefe; */
    margin: 15% auto; /* 15% from the top and centered */
    /* padding: 20px; */
    /* border: 1px solid #888; */
    width: min-content; /* Could be more or less, depending on screen size */
  }
  
  
